.title-section {
  display: flex;
  font-size: large;
  color: rgba(62, 71, 197, 0.683);
  border: 1px solid rgba(62, 71, 197, 0.683);
}

.title {
  display: flex;
  padding: 5px;
}

.collapse-icon {
  display: none;
  justify-content: flex-end;
  width: 100%;
}

.expand-icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.description {
  display: none;
  padding: 5px;
}

.tab-container {
  display: flex;
  flex-direction: row;
}

button {
  background-color: goldenrod;
  display: flex;
  color: whitesmoke;
  padding: 20px 30px;
  border-color: goldenrod;
  height: 30px;
  border-style: solid;
}

button.active {
  background-color: whitesmoke;
  color: black;
  border-color: whitesmoke;
  height: 30px;
  border-top-color: goldenrod;
}
